/* Container principal */
.container {
  overflow-x: hidden;
  background-color: #f3f3e7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Cabeçalho */
.header {
  background-color: #5e8d66d2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  width: 115rem;
  font-family: "Inter", serif;
  font-weight: 500;
  transition: background-color 0.3s ease, padding 0.3s ease; /* Transição para animação de scroll */
}

.header.scrolled {
  background-color: #4a7352; /* Cor mais escura ao rolar */
  padding: 10px 30px; /* Reduz o padding ao rolar */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  background-color: #d37771;
  width: 80px;
  height: 75px;
  border-radius: 50%;
  margin-left: 60%;
}

.logo-title {
  color: #000;
  font-size: 24px;
  margin-left: 20%;
}

/* Navegação */
.nav {
  display: flex;
  gap: 5vw;
  padding: 20px;
  margin-right: 10%;
}

.nav a {
  color: #000;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease; /* Transição suave */
}

.nav a:hover {
  color: #9F684B; /* Muda a cor ao passar o mouse */
  transform: scale(1.1); /* Aumenta levemente o tamanho do texto */
}

/* Destaques */
.destaques-section {
  width: 100%;
  background-color: #f3f3e7;
  padding: 20px;
  animation: fadeIn 1s ease-out; /* Animação de fade-in */
}

.destaques-title {
  margin-left: 24%;
  margin-bottom: 20px;
  font-size: 24px;
  color: #9F684B;
  font-family: "Inter", serif;
  font-weight: 700;
}

.destaques {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.destaque-item img {
  width: 600px;
  height: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}

.destaque-item2 img {
  width: 350px;
  height: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}

.destaque-item img:hover, .destaque-item2 img:hover {
  transform: scale(1.05); /* Aumenta levemente a imagem */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao redor */
}

/* Seção de Produtos */
.product-section {
  padding: 20px;
  background-color: #f3f3e7;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza a seção de produtos */
  animation: fadeIn 1s ease-out; /* Animação de fade-in */
}

.product-section h2 {
  margin-right: 90%;
  margin-bottom: 20px;
  font-size: 24px;
  color: #9F684B;
  font-family: "Inter", serif;
  font-weight: 700;
}

/* Grid de Produtos */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  justify-content: center;
  align-items: center;
}

/* Cartões de Produtos */
.product-card {
  background-color: #5e8d66d2;
  width: 200px; 
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  color: white;
  font-family: "Inter", serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Adiciona espaço entre os elementos */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}

.product-card:hover {
  transform: scale(1.05); /* Aumenta o cartão ao passar o mouse */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Adiciona sombra */
}

.product-title {
  margin-bottom: 15px; 
}

.product-image {
  width: 100%;
  height: 170px; /* Ajustando a altura da imagem */
  object-fit: cover;
  margin-bottom: 15px; /* Espaçamento entre a imagem e o preço */

}

.product-image:hover {
  transform: scale(1.05); /* Aumenta levemente a imagem */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.product-price {
  margin-top: 15px; /* Espaçamento acima do preço */
}

/* Seção Moldar */
.cta-section {
  background-color: #dcdcdc;
  justify-content: center; 
  align-items: center; 
  width: 52%;
  height: 60%;
  animation: fadeIn 1.5s ease-out; /* Animação de fade-in */
}

.cta-content {
  padding: 80px; /* Espaçamento interno */
  display: flex;
  gap: 20px; /* Espaçamento entre o texto e o botão */
}

.cta-content p {
  font-size: 18px;
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: left; /* Alinha o texto à esquerda */
  font-size: 30px;
  text-align: center;
  margin-right: 50px;
}

.moldar-button {
  background-color: #9f694b5d;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: black;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  width: 20%;
  height: 30%;
  margin-top: 7%;
  margin-left: 140px;
  transition: all 0.3s ease; 
}

.moldar-button:hover {
  background-color: #9F684B;
  transform: scale(1.1); /* Aumenta o botão ao passar o mouse */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Adiciona sombra ao botão */
}

/* Rodapé simples */
.simple-footer {
  background-color: #f3f3e7; 
  text-align: right; 
  font-size: 14px; 
  color: #000; 
  width: 100%;
  margin-right: 20px;
}


